/* Carrusel */
#carrusel .carousel-item img {
    height: 600px;
    object-fit: cover;
}

/* Galería: mismo tamaño siempre */
.img-galeria {
    height: 200px;
    object-fit: cover;
    width: 100%;
    display: block;
}

/* Hover tarjetas */
.card:hover {
    transform: translateY(-4px);
    transition: transform 0.3s;
}

/* Sombra dorada imagen historia */
.sombra-dorada {
    box-shadow: 6px 6px 0px #ffc107;
}
